/* To Do  */

.listItem {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 1rem;
  border: solid 1px gray;
  padding: 0.2rem;
}

/* StyledSection */
.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgb(52, 49, 49);
  color: white;
}
.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgb(244, 244, 244);
  color: black;
}

/* Card */
.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding: 1em;
  border: solid 1px gray;
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: fit-content;
  height: 100%;
  margin: 1em;
}

.produktBeskrivelse {
  text-decoration: none;
}
.produktNavn {
  font-size: 1.4rem;
  font-weight: 700;
}
.produktBeskrivelse {
  font-size: 0.85rem;
}
.Tilgjengelig {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 0.85rem;
}
.ikkeTilgjengelig {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 0.85rem;
}

.dott {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: green;
}
.dottNot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: rgb(230, 0, 0);
}

.vareNummer {
  color: gray;
  font-size: 0.8rem;
}

.badgeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: auto;
}

.priceTag {
  background-color: rgba(7, 212, 7, 0.482);
  border: solid 1px gray;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 2px 8px;
}

.priseTagNotIn {
  background-color: rgba(212, 7, 7, 0.089);
  border: solid 1px gray;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 2px 8px;
}

/* ---------------- */
/* Badge  */
.badgeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0px 6px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
}

.badgeWrapperSuccess {
  border-color: green;
  background-color: rgb(189, 255, 188);
}

.badgeWrapperWarning {
  border-color: red;
  background-color: rgb(255, 188, 188);
}

.badgeWrapperInfo {
  border-color: orange;
  background-color: rgb(255, 231, 188);
}

.badgeLabel {
  margin: 2px 2px;
}

/* LinkButton  */
.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0px 6px;
  margin: 0;
  text-decoration: none;
  border: solid 2px green;
  border-radius: 4px;
  background-color: rgb(231, 233, 238);
  color: black;
}
.linkButton:hover {
  cursor: pointer;
  text-decoration: none;
  border: solid 2px rgb(0, 159, 0);
  background-color: rgb(188, 219, 186);
  color: black;
}

/* Paragraph */
.paraWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 1em 0em;
  color: black;
}

.paraText {
  margin: 0;
}

/* TextButton */
.textButtonWrapper {
  margin: 0;
}

.textButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0px 6px;
  margin: 0;
  text-decoration: none;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(253, 46, 46);
  color: black;
}

.textButtonPara {
  margin: 0;
  color: black;
}
